body {
  margin: 0;
  font-family: "Courier New", Curier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background: linear-gradient(89deg, red 0%, green 100%);
  /* background: blue; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  cursor: pointer;
}